<?php
define('GOOGLE_API_KEY',    ''); // optional
define('TIMEZONE',          'Europe/Berlin');

define('CURL_USEPROXY',     false);
define('CURL_PROXYSERVER',  'http://your.proxyserver.com:8080');

define('DEBUG',             true);
define('CONFIG_LOGFILE',    '/var/log/tg-bots/dev-raid-bot.log');
define('CONFIG_HASH',       ' = hash(sha_512,tg_bot_key) ');

define('DB_NAME',           'your_database_name');
define('DB_USER',           'your_database_user');
define('DB_PASSWORD',       'your_database_password');

define('MAINTAINER',        '@your_tg_username');
define('MAINTAINER_ID',     'your_tg_integer');
define('BOT_NAME',          '@RaidPokemonBot');
define('BOT_ACCESS',        ''); // optional

define('RAID_LOCATION',     false); // send location as message in addition to raid poll message
define('RAID_SLOTS',        '15'); // minutes
define('RAID_LAST_START',   '10'); // minutes before RAID ends

define('CLEANUP',           false); // must be true for cleanup
define('CLEANUP_SECRET',    'your-cleanup-secret/passphrase');
define('CLEANUP_TELEGRAM',  true);
define('CLEANUP_TIME_TG',   '10'); // minutes after RAID ended
define('CLEANUP_DATABASE',  true);
define('CLEANUP_TIME_DB',   '10080'); // minutes after RAID ended

define('LANGUAGE', 'EN'); // language for the text EN, DE or NL
